# to specify server use any of these syntaxes:
# host example.com
# user root
# port 22

# OR
# connect root@example.com:22


# use ssh key (not supported yet):
# ssh_keypair public_key_file private_key_file

# or password:
# password hardpassword
# or you may use it with source:
# password source ../../password.txt

# to ignore files enclose with those tags or specify source file:
# :ignore

# filename1
# filename2
# foldername
# path/to/file
# source .gitignore

# :endignore

connect root@ovz6.n-solenii2016.n03kn.vps.myjino.ru:49363
password source password.txt

:ignore
source .gitignore
deploy.config
.gitignore

:endignore
# vim: syntax=plain/text
